// Theme Specific Styles

// Full page Layout
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

body * {
  font-family: 'Raleway', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;

  .section-wrapper {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  #MobileNavMenu {
    display: block;
    width: 250px;
    height: 100%;
    left:100%;
    right: -250px;
    top: 0;
    z-index: 3;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
    @media screen and (min-width:370px){
      width: 270px;
      right:-270px
    }
  }
  #MobileNavMenu.is-active {
    width: 250px;
    left: auto;
    right: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    overflow-y: scroll;
    @media screen and (min-width: 370px) {
      width: 270px;
    }

    #mobile-menu {
      .navbar-item{
        padding:0;

        a strong,
        a {
          color: #FFF !important;
          background-color: transparent !important;
        }
        a::after {
          float:right;
          content: "\025B8";
          border: none;
          -webkit-transform: none;
          transform: none;
          margin-top: 0;
          top: auto;
          font-size: 1.65em;
          line-height: 1em;
          bottom: 18px;
        }
        a {
          padding: 1.5rem .5rem 1.5rem .75rem;
          @media screen and (min-width: 375px) {
            padding: 1.5rem .5rem 1.5rem 1.5rem;
          }

        }
      }
    }
  }

  .site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
    position: relative;
  }

  .site-wrapper.menu-open {
    width: 100%;
    transform: translate(-250px, 0);
    position: fixed;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    top: 0;
    @media screen and (min-width:370px){
      transform: translate(-270px, 0);
    }

    .site-mobile-overlay {
      position: absolute;
      height: 100vh;
      width: 100vh;
      background-color: rgba(0,0,0,0.3);
      z-index: 3;
    }
  }

  .site-wrapper.full-height {
    height: 100vh;
  }

}

//Sticky Header
#top {
  width: 100%;
  position: absolute;
  z-index: 3;

  .navbar {
    background-color: #FFF;
    width: 100%;
    @media screen and (min-width: $desktop) {
      background-color: transparent;
    }

    .navbar-brand {
      img {
        padding: .5rem 1rem;
        max-height: 3rem;
      }
    }

    div#main-menu {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      position: fixed;

      div#main-menu {
        display: flex;
      }

    }

  }


}
.hero-body {
  padding: 5rem 1.5rem 3rem;
  @media screen and (min-width: $tablet) {
    padding: 7rem 1.5rem 3rem;
  }
}



#mid {
  position: relative;
  flex: 1 0 auto;
  z-index: 2;
}

.is-transparent {
  background-color: transparent;
}

.full-bg {
  background-size: cover;
  background-attachment: fixed;
}

a.clickdown.icon.center {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  top: -50px;
  z-index: 30;
  left: 50%;
  margin-left: -20px;
}

.clickdown i.fa.fa-angle-down {
  font-size: 2.2em;
  line-height: 1.15em;
}

#bot {
  position: relative;
  z-index: 1;
}