/* Theme Specific Styles */

/* Full page Layout */
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#mid {
  flex: 1 0 auto;
}