// Theme Specific Styles

// Full page Layout
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

body * {
  font-family: 'Raleway', sans-serif;
}

#app {
  height:100vh;
  display: flex;
  flex-direction: column;
}

//Sticky Header
#top {
  width: 100%;
  position: absolute;
  @media screen and (min-width: $tablet) {
    position: fixed;
  }
}
.hero-body {
  padding: 5rem 1.5rem 3rem;
  @media screen and (min-width: $tablet) {
    padding: 7rem 1.5rem 3rem;
  }
}

.navbar-menu {
  background-color: #FFF;
  @media screen and (min-width: $tablet) {
    background-color: transparent;
  }
}

#mid {
  flex: 1 0 auto;
}

.is-transparent {
  background-color: transparent;
}

.full-bg {
  background-size: cover;
  background-attachment: fixed;
}

.black-50 {
  color:#FFF !important;
  background-color: rgba(0,0,0,.5);
  text-shadow: 0 0 20px rgba(0,0,0,.9);
}
.white-50 {
  background-color: rgba(255,255,255,.5);
  text-shadow: 0 0 20px rgba(255,255,255,.9);
}

.white-80 {
  background-color: rgba(255,255,255,.8);
  text-shadow: 0 0 20px rgba(255,255,255,.9);
}

.white-90 {
  background-color: rgba(255,255,255,.9);
  text-shadow: 0 0 20px rgba(255,255,255,.9);
}

a.clickdown.icon.center {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  top: -50px;
  z-index: 30;
  left: 50%;
  margin-left: -20px;
}

.clickdown i.fa.fa-angle-down {
  font-size: 2.2em;
  line-height: 1.15em;
}